%h1 Listing All #{@category.job_category_name.camelize} jobs
-if @jobs.blank?
  .row
    .col-md-6.col-md-offset-5
      = 'No Jobs found'
      = link_to "Add New Job", new_category_job_path(@category), class: 'btn btn-default'
- else
  .col-md-12
    .row
      .panel.panel-default
        .panel-body
          - @jobs.each do |job|
            .col-md-1
              = link_to job.title, category_job_path(@category, job), class: 'btn btn-info'
  
  = link_to "Add New Job", new_category_job_path(@category), class: 'btn btn-default'
  = link_to "Back", categories_path, class: 'btn btn-default'