- if current_user && !current_user.avatar.exists?
  .col-md-6.col-md-offset-3
    .row
      .panel.panel-default
        .panel-body
        = simple_form_for current_user, method: :put, html: { multipart: true } do |f|
          .image-upload
            %label{:for => "user_avatar"}
              .img-circular
                = profile_avatar_select(@user)
              = f.input :avatar, onChange: 'loadFile(event)'
          .form-group.text-center
          = f.submit "Update Profile", class: 'btn btn-success'
= render 'load_pics', locals: { pics: @pics }