.col-md-6.col-md-offset-4
  .row
    = @pics.first.user.email
    %span
      - if @user == current_user
        = link_to 'Edit Profile', edit_profile_path(@user.email), class: 'btn edit-button'
      - else
        - if current_user_is_following(current_user.id, @pics.first.id)
          = link_to 'Following', unfollow_user_path, remote: true, class: 'btn unfollow-button', id: 'unfollow-button', method: :post
        - else
          = link_to 'Follow', follow_user_path, remote: true,class: 'btn follow-button', id: 'follow-button', method: :post
    .row
      %span
        %b= @pics.count 
      Posts
      %span 0 Followers
      %span 0 Following
     
= render 'load_pics', locals: { pics: @pics }