= simple_form_for @category, remote: true do |f|
  - if @category.errors.any?
    #errors
      %h2
      = pluralize(@categorypic.errors.count, 'error')
      prevented this Pic from saving
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.input :job_category_name, input_html: {class: 'form-control'}
  = f.button :submit, class: 'btn btn-info'
  = link_to 'Cancel', categories_path, class: 'btn btn-danger'